@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
html,
body {
  height: 100%;
  box-sizing: border-box;
  align-content: center;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body,
.login-btn {
  background: linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
}
.d-none {
  display: none;
}
.link {
  color: #133e87;
  text-decoration: underline;
}
.link:hover {
  color: #dc143c;
  cursor: pointer;
}
form {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  height: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  .form-header {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 90%;
  }
  input:focus {
    border-bottom: 3px solid;
  }
  input.firstName,
  input.lastName {
    width: 40%;
  }
  button {
    width: 200px;
    padding: 10px 20px;
    border: 1.5px solid #2973b2;
    color: #fff;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  button:hover {
    border-left: 2.5px solid #2973b2;
    border-top: 2.5px solid #2973b2;
  }
  .login-text {
    width: 100%;
    text-align: center;
    padding: 15px 5px;
  }
  .form-login-txt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    text-align: right;
  }
  .check {
    width: max-content;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding: 2px;
    input,
    label {
      display: inline;
      width: max-content;
      padding: 10px;
    }
  }
}
#reg-form {
  margin: 0;
}
